body {
	font-family: 'made-dillan-personal', Arial, sans-serif !important;
}

main {
	margin: 20px 10%;
	padding: 0 20px;
}

h1, h2, h3 {
    color: #126D76;
    letter-spacing: 0.5px;
	font-weight: 700;
}

section {
	margin: 20px 50px 40px 0;
}

section p {
	text-align: justify;
	font-size: 14px;
}

ul {
	list-style: none;
	margin: 20px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

li {
	flex-basis: 25%;
	margin: 2%;
	background-color: #f4f4f4;
	padding: 20px;
	border-radius: 10px;
}

li img {
    border-radius: 10px;
    display: block;
    height: 200px;
    object-fit: cover;
    width: 100%;
}

li p {
	font-size: 13px;
}